<div id="sla_footer">
  <a href="ViewSlaContract.jspa">IssueType Settings</a>
  |
  <a href="ViewSlaPriority.jspa">Priority Settings</a>
  |
  <a href="ViewSlaProject.jspa">Project Settings</a>
  |
  <a href="ViewSlaFilterUser.jspa">User Settings</a>
  |
  <a href="ViewSlaEmail.jspa">Email Settings</a>
  |
  <a href="SlaScheduler.jspa">Scheduler Settings</a>
  |
  <a href="/plugins/servlet/upm/manage/paid-via-atlassian#manage/za.co.infowarestudios.jiraplugins.infoware-sla-plugin">License Settings</a>
</div>