<html>
<head>
  <title>$i18n.getText("slaFilterUser.admin.label")</title>
  <meta content="admin" name="decorator" content="atl.admin">
  <meta content="admin_plugins_menu/sla_plugin_section" name="admin.active.section">
  $webResourceManager.requireResourcesForContext("sla_web_resources")
  $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <div>
            <h2>$i18n.getText("slaFilterUser.form.title.add")</h2>
        </div>

        #parse("templates/za/co/infowarestudios/jiraplugins/sla/shared/show-errors.vm")
        <div class="create-issue-panel">

            <form method="post" id="admin" action="AddSlaFilterUser.jspa" class="aui">
                <input type="hidden" name="key" value="$slaFilterUser.ID">

                <div class="field-group">
                    <label for="h-ffilteruser">
                        $i18n.getText("slaFilterUser.form.title.filteruser")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>

                    <select id="h-ffilteruser" name="filteruser">
                        #foreach ($fuser in $action.getAllSystemUsers())
                            <option value="$fuser.name">$fuser.displayName</option>
                        #end
                    </select>

                </div>


                <input class="aui-button" type="submit" name="add" value="$i18n.getText("slaFilterUser.form.button.add")" accesskey="S" title="Press Alt+Shift+S to submit form"" />&nbsp;
                <a accesskey="'" class="cancel" href="#" id="slaFilterUser-add-cancel" title="Press Alt+Shift+' to cancel" onclick="location.href='ViewSlaFilterUser.jspa'">$i18n.getText("slaFilterUser.form.button.cancel")</a>

            </form>
        </div>
      #parse("templates/za/co/infowarestudios/jiraplugins/sla/shared/footer.vm")
    </div>

</div>
</body>
</html>