<html>
<head>
  <title>$i18n.getText("slaPriority.admin.label")</title>
  <meta content="admin" name="decorator" content="atl.admin">
  <meta content="admin_plugins_menu/sla_plugin_section" name="admin.active.section">
  $webResourceManager.requireResourcesForContext("sla_web_resources")
  $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <div>
            <h2>$i18n.getText("slaPriority.form.title.add")</h2>
        </div>

        #parse("templates/za/co/infowarestudios/jiraplugins/sla/shared/show-errors.vm")
        <div class="create-issue-panel">

            <form method="post" id="admin" action="AddSlaPriority.jspa" class="aui">
                <input type="hidden" name="key" value="$slaPriority.ID">

                <div class="field-group">
                    <label for="h-fpriority">
                        $i18n.getText("slaPriority.form.title.priority")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <select id="h-fpriority" name="priority">
                        #foreach ($pr in $action.getAllPriorities())
                            <option value="$pr.getName()">$pr.getName()</option>
                        #end
                    </select>
                </div>

                <div class="field-group">
                    <label for="h-fminmax">
                        $i18n.getText("slaPriority.form.title.minmax")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <select id="h-fminmax" name="minmax" style="width: 120px">
                       <option></option>
                       <option value="Min" selected/>Min
                       <option value="Max"/>Max
                    </select>
                </div>

                <div class="field-group">
                  <label for="h-fslatime">
                    $i18n.getText("slaPriority.form.title.slatime")
                    <span class="aui-icon icon-required"></span>
                  </label>
                  <input type="text" id="h-fslatime" name="slatime" value=""/>
                </div>

                <input class="aui-button" type="submit" name="add" value="$i18n.getText("slaPriority.form.button.add")" accesskey="S" title="Press Alt+Shift+S to submit form"" />&nbsp;
                <a accesskey="'" class="cancel" href="#" id="slaPriority-add-cancel" title="Press Alt+Shift+' to cancel" onclick="location.href='ViewSlaPriority.jspa'">$i18n.getText("slaPriority.form.button.cancel")</a>

            </form>
        </div>
      #parse("templates/za/co/infowarestudios/jiraplugins/sla/shared/footer.vm")
    </div>

</div>
</body>
</html>
