<html>
<head>
  <title>$i18n.getText("slaContract.form.title.view")</title>
  <meta content="admin" name="decorator" content="atl.admin">
  <meta content="admin_plugins_menu/sla_plugin_section" name="admin.active.section">
  $webResourceManager.requireResourcesForContext("sla_web_resources")
  $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>

<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
      <h2>Manage SLA configuration</h2>

       #parse("templates/za/co/infowarestudios/jiraplugins/sla/shared/show-errors.vm")

        <form method="post" action="ViewSlaContract!select.jspa" class="aui">
          Find SLA configuration for Issue Type
          <input type="text" name="issuetype" value="">
          <input class="aui-button" type="submit" name="Search" value="Search" />
        </form><br>

        #if ($slaContracts && $slaContracts.size() > 0)
        <div class="issues">
            <table class="aui">
                <thead>
                <tr>
                    <th>$i18n.getText("slaContract.form.title.id")</th>
                    <th>$i18n.getText("slaContract.form.title.issuetype")</th>
                    <th>$i18n.getText("slaContract.form.title.description")</th>
                    <th>$i18n.getText("slaContract.form.title.minslatime")</th>
                    <th>$i18n.getText("slaContract.form.title.maxslatime")</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    #foreach( $slaContract in $slaContracts )
                    <tr>
                        <td>$slaContract.ID</td>
                        <td>$slaContract.issuetype</td>
                        <td>$slaContract.description</td>
                        <td>$slaContract.minslatime</td>
                        <td>$slaContract.maxslatime</td>
                        <td>
                            <a href="EditSlaContract!edit.jspa?key=$slaContract.ID">$i18n.getText("slaContract.form.button.edit")</a> &nbsp;
                            <a href="DeleteSlaContract.jspa?key=$slaContract.ID">$i18n.getText("slaContract.form.button.delete")</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        #else
            <div>
                No SLA Contract settings found.
            </div>
        #end
        <form method="get" action="AddSlaContract!add.jspa" class="aui">
            <input type="submit" class="aui-button" value="$i18n.getText("slaContract.form.button.add")">
        </form>

      #parse("templates/za/co/infowarestudios/jiraplugins/sla/shared/footer.vm")

    </div>

</div>
</body>
</html>
